extends layout

block content
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | About 
            strong Cheswick Green House
          hr
        .col-md-6
          img.img-responsive.img-border-left(src='images/aboutus1024x1024.jpg', alt='')
        .col-md-6
          p
            | Cheswick Green House (CGH) is a farm just outside London, growing fresh fruits and vegetables all year around and is famous for the unique experience it offers to the people who visit.
          p
            | At CGH farm, you are invited to pick your own fruits and vegetables from a vast range of seasonal produce.
          p
            | It started from only a fruit and vegetable garden three generations back, and now that the family business has expanded the premises offers a lot more, like a fresh produce farm shop, garden plants and equipment, restaurant, dessert bar with indoor and outdoor play areas for kids.
        .clearfix