extends layout

block content
  // Page Heading
  .container
    .box
      .row
        .col-lg-12
          hr
          h2.intro-text.text-center
            strong News
          hr
      // /.row
      // Project One
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='images/origial/MarketUpdate21032017.jpg', alt='')
        .col-md-5
          h3 Market Update
          h4 23/03/2017
          p
            | Autumn berries are great this week except for Blueberries as the Tasmanian season draws to a close. With strawberries, the smaller fruit is really cheap. It’s great to eat when fresh  but doesn’t keep really well. Buy today eat today if possible. Raspberries come on in two main flushes each year, firstly before Christmas and secondly late March early April in what the industry refers to as the Autumn flush. These raspberries are better eating than the those harvested in the middle of summer. The blackberries are plump, juicy and fantastic value. They get better every year, nothing like the old often sour fruit we used get from Victoria in the past.
          a.btn.btn-primary(href='product')
            | View Product 
            span.glyphicon.glyphicon-chevron-right
      // /.row
      hr
      // Project Two
      .row
        .col-md-7
          a(href='#')
            img.img-responsive(src='images/origial/MarketUpdate23022017.jpg', alt='')
        .col-md-5
          h3 Market Update
          h4 23/02/2017
          p
            | A good week for fruit lovers this week. In the pomme fruit we have more variety of new season fruit at great prices. In apples, the galas are continuing their run with excellent quality fruit from later areas now underway. Added to this we now have new season, old fashioned Jonathons apples -  mostly popular with my generation of consumers in addition to Fuji and Delicious to round off the apple offer. Williams pears in a slightly smaller size than the market prefers are a real bargain this week our stores. Don’t forget they ripen very quickly at this time of the season and should go in the fridge as soon as they start to turn. In grapes, the Thompson seedless are fantastic and passionfruit are enjoying an unusual flush in supply. All the berries, but perhaps a little less the blueberries, are good and cheap. Figs are fantastic and all the melons are eating superbly. Bananas have eased in price, Tegan Blues are the pick of the plums and as the growers move deeper into their Shepard avocado crops the size profile is becoming smaller, so the bargains that have been in larger fruit will change and the smaller fruit will represent the best value.
          a.btn.btn-primary(href='product')
            | View Product 
            span.glyphicon.glyphicon-chevron-right
      // /.row
      hr
      // Pagination
      .row.text-center
        .col-lg-12
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') »
      // /.row
      hr
